:root {
    --color-primary: rgba(231, 231, 231);
    --color-secondary: white;
    --color-terciary: red;
    --font-family: 'Roboto', sans-serif;
    --font-title-size: 20px;
    --font-size: 16px;
}

body {
    font-family: var(--font-family);
    background-color: var(--color-primary);
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    cursor: pointer;
    display: grid;
    grid-template-columns: 250px 1fr;
}

.grid-container {
    width: 100vw;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.dark {
    font-size: var(--font-size);
    color: black;
}

.light {
    color: gray;
}

aside {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/sidebar-1.jpg);
    background-size: cover;
    color: var(--color-secondary);
    height: 100vh;
    overflow-y: scroll;
    padding: 15px;
    grid-row: 1/4;
    grid-column: 1/2;
}

.bg-title {
    font-size: var(--font-title-size);
    padding-left: 10px;
}

.bg-title-span {
    padding-left: 30px;
}

aside img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-left: 10px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-icon {
    background-color: var(--color-terciary);
    border-radius: 3px;
    padding: 16px;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size);
    padding: 16px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.menu-item:hover {
    background-color: rgb(70, 67, 67);
    border-radius: 3px;
}

.expand {
    padding-right: 25px;
    position: relative;
    left: 35px;
}

.aside-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-area {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
    grid-column: 2/2;
}

header {
    background-color: var(--color-primary);
    grid-row: 2/4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    top: 0;
}

.right-header,
.left-header {
    display: flex;
    align-items: center;
    gap: 15px;
}

.right-header {
    margin-right: -20px;
}

.item-end {
    margin-bottom: 20px;
}

header .material-icons {
    background: none;
    border: none;
    padding: 6px;
}

#dashboard-icon,
#search-icon {
    background-color: var(--color-secondary);
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#dashboard-icon:hover,
#search-icon:hover {
    box-shadow: 0px 0px 21px -5px rgba(35, 1, 35, 1);
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.custom-tooltip {
    position: absolute;
    bottom: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: var(--color-secondary);
    padding: 4px 8px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s ease;
}

.see-more {
    position: absolute;
    z-index: 1000;
}

.tooltip:hover .custom-tooltip,
.tooltip:focus .custom-tooltip {
    opacity: 1;
    transition: opacity 0.5s ease;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-box input {
    padding: 6px 10px;
    border: none;
    border-bottom: 1px solid rgb(153, 153, 153);
    outline: none;
    background-color: transparent;
}

.search-box input:focus {
    border-bottom: 2px solid purple;
    transition: transform 0.5s ease-in-out;
}

.bell {
    position: relative;

}

.more-dark {
    color: rgb(77, 74, 74);
}

.notifications {
    position: absolute;
    top: 3px;
    right: 5px;
    width: 16px;
    height: 16px;
    background-color: var(--color-terciary);
    color: var(--color-secondary);
    border: 1px solid var(--color-secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    border-radius: 50%;
}

.notification-dropdown {
    display: none;
    background-color: white;
    min-width: 250px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 8px;
    border-radius: 4px;
    position: absolute;
    top: 5px;
    right: 30px;
}

.notification-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.notification-dropdown ul li {
    padding: 10px;
    font-size: var(--font-size);
}

.bell:hover .notification {
    visibility: visible;
}

.notification-wrapper:focus .notification-dropdown {
    display: block;
    z-index: 10;
}

.notification {
    z-index: 99;
}

li {
    padding: 10px 14px;
}

li:hover {
    background-color: var(--color-terciary);
    color: var(--color-secondary);
    border-radius: 4px;
}

li.active {
    background-color: var(--color-terciary);
    color: var(--color-secondary);
}

main {
    margin-top: 50px;
    padding: 15px 30px;
    flex-grow: 1;
    grid-row: 3/4;
}

.global-card {
    padding: 20px;
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.global {
    box-shadow: 0px 0px 21px -7px rgba(35, 1, 35, 1);
    position: absolute;
    background-color: green;
    color: var(--color-secondary);
    height: 60px;
    width: 60px;
    top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card-header p {
    margin: 0;
    margin-left: 70px;
    font-size: var(--font-title-size);
    margin-top: -10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: -20px;
}

#menu {
    display: none;
}

th,
td {
    padding: 12px;
    border-bottom: 1px solid rgb(221, 221, 221);
    text-align: left;
}

tr:last-child td {
    border-bottom: none;
}

th {
    color: var(--color-secondary);
}

table img {
    margin-right: 10px;
}

.locations {
    flex: 1;
}

.map {
    position: relative;
    padding-bottom: 27%;
    height: 0;
    overflow: hidden;
    flex: 1;
}

.map iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.card-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 35px;
}

.card-grid-1 {
    background-color: var(--color-secondary);
    border-radius: 8px;
    padding: 20px;
    position: relative;
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chair,
.leaderboard,
.store,
.public {
    position: absolute;
    top: -15px;
    background-color: orange;
    color: var(--color-secondary);
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 21px -7px rgba(35, 1, 35, 1);
}

.leaderboard {
    background-color: palevioletred;
}

.store {
    background-color: green;
}

.public {
    background-color: dodgerblue;
}

.website {
    white-space: nowrap;
    margin-left: -35px;
}

.title-value {
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: right;
}

.card-title {
    font-size: var(--font-size);
    margin: 0;
}

.card-value {
    font-size: var(--font-title-size);
}

.card-grid-1 hr {
    margin-left: 2px;
    margin-right: -5px;
    margin-bottom: -10px;
    margin-top: 80px;
}

.warning {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.value-3 {
    margin-left: 15px;
}

.card-info {
    text-align: center;
}

.card-1-icon,
.card-info {
    font-size: var(--font-size);
}

.manage-listings {
    margin-top: 40px;
    padding-right: 25px;
    overflow-x: hidden;

}

.manage-p {
    font-size: var(--font-title-size);
    margin-bottom: 50px;
}

.grid-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.card {
    background-color: var(--color-secondary);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    position: relative;
}

.card-image {
    margin-top: -25px;
    border-radius: 10px;
    text-align: center;
}

.card img {
    width: 90%;
    height: auto;
    position: relative;
    left: 5%;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}

.icons-image {
    position: relative;
}

.icons-image:hover img {
    transform: translateY(-40px);
    opacity: 1;
}

.icons-image:hover .icons {
    opacity: 1;
    transition: opacity 0.3s ease;
    position: absolute;
    right: 100px;
    bottom: 100px;
}

.art {
    color: rgb(153, 153, 153);
}

.edit {
    color: green;
}

.clear {
    color: var(--color-terciary);
}

.icons {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -100px;
    top: 140px;
    opacity: 0;
}

.title-card {
    font-size: var(--font-title-size);
    margin-bottom: 50px;
    margin-top: -30px;
    text-align: center;
    padding-left: 60px;
    white-space: nowrap;
}

.card-text {
    word-wrap: break-word;
    font-size: 15px;
    text-align: center;
    margin-top: -50px;
}

.titlee-2 {
    padding-left: 105px;
}

.card-body hr {
    border: none;
    border-bottom: 1px solid grey;
    margin: 10px auto;
    width: 90%;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px;
    border-top: 1px solid var(--color-secondary);
    font-size: 14px;
}

#second-card-hr {
    margin-bottom: -45px;
}

.footer-card-3,
#second-card-hr {
    margin-top: 50px;
}

.location-icon {
    margin-right: -3px;
    font-size: 14px;
}


footer {
    padding: 15px 30px;
    grid-row: 4/4;
}

.footer-card {
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 0;
    font-weight: bold;
}

@media only screen and (max-width: 1024px) {
    body {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    .locations {
        display: flex;
        flex-direction: column;
        padding: 20px;
    }

    .card-body {
        flex-direction: column;
    }

    .search-box,
    .notification-wrapper,
    .dashboard,
    .profile-hidden,
    .see-more-hidden,
    #dashboard-icon {
        display: none;
    }

    .table {
        width: 100%;
    }

    .card-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }

    .title-value {
        margin-left: 80px;
    }

    #menu {
        display: inline-block;
    }

    .menu {
        margin-right: 20px;
    }

    .grid-cards {
        grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
        row-gap: 50px;
    }

    .title-card {
        font-size: 1.1rem;
        padding-right: 40px;
    }

    .titlee-2 {
        padding-left: 50px;
    }

    .card-text {
        font-size: 13px;
    }

    .icons-image:hover .icons {
        opacity: 1;
        transition: opacity 0.3s ease;
        position: absolute;
        right: 160px;
        bottom: -50px;
    }

    .first-card hr {
        padding-bottom: 50px;
    }

    #second-card-hr {
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 680px) {
    body {
        grid-template-columns: auto;
    }

    table {
        width: 100%;
    }

    .title-value {
        top: 10px;
        right: 10px;
    }

    aside {
        display: none;
    }

    .card-grid {
        grid-template-columns: 1fr;
    }

    .title-value {
        margin-left: 80px;
    }

    .grid-cards {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 15px;
    }

    .title-card {
        font-size: 1rem;
    }

    .card-text {
        font-size: 12px;
    }

    .card-body hr {
        width: 95%;
    }

    .icons-image:hover .icons {
        opacity: 1;
        transition: opacity 0.3s ease;
        position: absolute;
        right: 200px;
        bottom: -100px;
    }

    .card-image {
        margin-top: -50px;
        border-radius: 10px;
        text-align: center;
    }

    .card-value,
    .card-title {
        padding-right: 7px;
    }

}

@media only screen and (max-width: 500px) {
    table {
        width: 100%;
    }

    .title-value {
        top: 8px;
        right: 8px;
    }

    .card-footer {
        gap: 10px;
        align-items: flex-start;
    }

    .titlee-2 {
        padding-left: 60px;
    }

    .title-card {
        padding-right: 70px;
    }

    .map {
        width: 100%;
        padding-bottom: 64%;
        margin-top: -40px;
    }

    .footer {
        display: flex;
        flex-wrap: wrap;
        padding-right: 50px;
    }

    .map iframe {
        width: 100%;
    }

    .icons-image:hover .icons {
        opacity: 1;
        transition: opacity 0.3s ease;
        position: absolute;
        right: 135px;
        bottom: 10px;
    }

    .card-image {
        margin-top: -40px;
        border-radius: 10px;
        text-align: center;
    }

    .card-value,
    .card-title {
        padding-right: 7px;
    }
}