h1 {
    background-color: blueviolet;
    color: bisque;
}
    h2 {
        background-color: green;
        color: aquamarine;

    }

    h3 {
        background-color: fuchsia;
        color: black;
    }

    p {
        background-color: darksalmon;

        color: black;
    }