h1 {

    background-color: red;
    color: black;
}

h2 {
    background-color: fuchsia;
    color: black;
}

h3 {
    background-color: green;
    color: black;
}

p {
    background-color: orange;
    color: black;
}