.first::first-letter {
    font-size: 100px;
    text-indent: 30px;
    font-weight: bold;
    float: left;
    line-height: 1;
    margin-right: 10px;
    position: relative;
    top: 8px;
}
.first{
    margin: auto;
    line-height: 1.6;
    text-align: justify;
    font-family: "Georgia", serif;
    
}
.first-word{
    letter-spacing: 2px;
}

span {
    text-transform: uppercase;
}

.second {
    background-image: url(images/img2.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Haettenschweiler' 'Impact' 'Segoe UI Black' sans-serif;

}

.second::first-letter {
    font-size: 80px;
    text-decoration: underline red;
    text-align: right;

}

.second-word {
    font-weight: bold;
}

.third{
    background-image: url(images/img2.jpg);
    background-repeat: no-repeat;
    background-size: 325px;
    font-family: 'Haettenschweiler' 'Impact' 'Segoe UI Black' sans-serif;
}
.third-word{
    font-weight: bold;
}
.third::first-letter{
    text-decoration: underline red; 
    font-size: 80px;
    letter-spacing: 3px;
    float: left;
    margin-right: 10px;
    
    
}